#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "influxdb_v2"
name = "InfluxDB v2"
description.en = "Time-series database for storing, querying, and visualizing real-time data efficiently"
description.fr = "Base de données séries temporelles pour stocker, interroger et visualiser données temps réel efficacement"

version = "2.7.1~ynh2"

maintainers = ["M3t4Data"]

[upstream]
license = "MIT"
website = "https://www.influxdata.com/"
admindoc = "https://docs.influxdata.com/influxdb/v2.0/"
cpe = "cpe:2.3:a:influxdata:influxdb"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = false

sso = false

disk = "1G"
ram.build = "500M"
ram.runtime = "1G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    help.en = "Please provide the desired admin password for setting up the application."
    help.fr = "Veuillez fournir le mot de passe administrateur souhaité pour configurer l'application."
    type = "password"

    [install.influxdb_org_name]
    help.en = "Please provide the default organization name."
    help.fr = "Veuillez fournir le nom de l'organisation par défaut."
    ask.en = "InfluxDB organization name"
    ask.fr = "Nom de l'organisation InfluxDB"
    type = "string"

    [install.influxdb_bucket_name]
    help.en = "Please provide the desired name for the primary bucket."
    help.fr = "Veuillez fournir le nom souhaité pour le bucket principal."
    ask.en = "Primary bucket name"
    ask.fr = "Nom du premier bucket"
    type = "string"

    [install.influxdb_bucket_retention]
    help.en = "Enter a retention period for your primary bucket (ex: '30d' for 30 days). See https://docs.influxdata.com/influxdb/v2.7/reference/cli/influx/bucket/create/"
    help.fr = "Entrez une période de rétention pour votre bucket principal (ex: '30d' pour 30 jours). Voir https://docs.influxdata.com/influxdb/v2.7/reference/cli/influx/bucket/create/"
    ask.en = "Retention period of the primary bucket"
    ask.fr = "Période de rétention du premier bucket"
    type = "string"

[resources]

    [resources.sources]
    [resources.sources.influxdb2]
    amd64.url = "https://dl.influxdata.com/influxdb/releases/influxdb2-2.7.1-linux-amd64.tar.gz"
    amd64.sha256 = "e5ecfc15c35af55641ffc92680ad0fb043aa51a942944252e214e2a551c60ebb"
    arm64.url = "https://dl.influxdata.com/influxdb/releases/influxdb2-2.7.1-linux-arm64.tar.gz"
    arm64.sha256 = "b88989dae0c802fdee499fa07aae837139da3c786293c74e9d7c46b8460510d4"
    in_subdir = true
    extract   = true
    format = "tar.gz"

    [resources.sources.influx]
    amd64.url = "https://dl.influxdata.com/influxdb/releases/influxdb2-client-2.7.3-linux-amd64.tar.gz"
    amd64.sha256 = "a266f304547463b6bc7886bf45e37d252bcc0ceb3156ab8d78c52561558fbfe6"
    arm64.url = "https://dl.influxdata.com/influxdb/releases/influxdb2-client-2.7.3-linux-arm64.tar.gz"
    arm64.sha256 = "d5d09f5279aa32d692362cd096d002d787b3983868487e6f27379b1e205b4ba2"
    in_subdir = true
    extract   = true
    format = "tar.gz"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false

    [resources.ports]
    main.default = 8086
